/* GLOBAL RESETS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primaryColor: #efedea;
    --secondaryColor: #e6d5b3;
    --fontColor: #49291a;
    --fontSize: 1.125rem;
    --recipeFontSize: 1.75rem;
    --titleFontSize: 3rem;
    --subtitleFontSize: 2rem;
    --btnColor: #e8c387;
    --shadow: #232020;
    --globalPadding: 1.125rem;
    --maxWidth: 1280px;
}

body {
    font-family: 'League Spartan', 'Times New Roman', sans-serif;
    background-color: var(--primaryColor);
    color: var(--fontColor);
    width: 100%;
    font-size: var(--fontSize);
    line-height: 1.5;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: var(--globalPadding);
}

/* Navigation, Footer */

nav {
    background-color: var(--secondaryColor);
    padding: var(--globalPadding);
    align-self: stretch;
}

.nav-links {
    max-width: var(--maxWidth);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home {
    text-decoration: none;
    color: var(--fontColor);
}

footer {
    background-color: var(--secondaryColor);
    padding: var(--globalPadding);
    align-self: stretch;
}

.footer {
    max-width: var(--maxWidth);
    margin: 0 auto;   
}

main {
    max-width: var(--maxWidth);
}

ul {
    list-style: none;
    text-align: left;
}

ol {
    text-align: left;
    list-style-position: inside;
    overflow: hidden;
    word-wrap: break-word;
}

/* HOMEPAGE */

header {
    padding: var(--globalPadding);
}

.title {
    font-size: var(--titleFontSize);
}

.subtitle {
    font-size: var(--subtitleFontSize);
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
}

.recipes a {
    text-decoration: none;
    color: var(--fontColor);
}

.panel {
    flex: 0 1 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel-img {
    border-radius: 50%;
    max-width: 300px;
    height: 300px;
    border: 2px solid var(--shadow);
}

.panel-title {
    z-index: 1;
    margin-top: -2.625rem;
    background-color: var(--btnColor);
    border-radius: 10px 25px 25px 10px;
    box-shadow: 2px 4px 4px var(--shadow);
    font-size: var(--recipeFontSize);
    min-width: 250px;
    max-width: 300px;
}

/* RECIPE PAGE */

.title-review {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: var(--globalPadding);
}

.img-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: var(--globalPadding);
    padding: var(--globalPadding);
}

.recipe-page-img {
    max-width: 500px;
    height: auto;
}

.recipe-page {
    display: flex;
    gap: 3rem;
    line-height: 2rem;
}

.col-ingredient {
    flex: 1;
    max-width: 640px;
    border-right: 5px solid var(--secondaryColor);
    display: flex;
    flex-direction: column;
    gap: var(--globalPadding);
    padding: var(--globalPadding);
}

.meta-info {
    display: flex;
    justify-content: space-evenly;
    white-space: nowrap;
}

.portion {
    display: flex;
    align-items: center;
    gap: 8px;
}

.time {
    display: flex;
    align-items: center;
    gap: 8px;
}

.col-direction {
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: var(--globalPadding);
    padding: var(--globalPadding);
}

.checked {
    color: var(--btnColor);
}

@media screen and (max-width: 800px) {
    .recipe-page-img {
        max-width: 300px;
        height: auto;
    }

    .meta-info {
        gap: 8px;
    }
}

@media screen and (max-width: 700px) {
    .review {
        order: -1;
    }

    li {
        line-height: 2.5rem;
    }

    .img-section {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 500px) {
    .recipe-page {
        flex-wrap: wrap;
    }

    .col-ingredient {
        border: 0px;
    }
}